.lBody{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 80vh;
    padding: 10px;
    text-align: center;
}
.createPollBtn{
    width: 150px;
}

.body__bannerSignin{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}